
                          <div class="field">
                            <input type="text" name="username" placeholder="Username" required
                            [(ngModel)] = "signup.username" >
                          </div>
                          <div class="field">
                            <input type="email" name="email"  placeholder="Email" required
                            [(ngModel)] = "signup.email" >
                          </div>
                          <div class="field">
                            <input type="password" name="password" placeholder="Password" required
                            [(ngModel)] = "signup.password" >
                          </div>
                          <div class="field btn">
                                      <div class="btn-layer">
                           </div>
                            <input type="submit" value="Signup" (click)="signupUser()">
                          </div>
  
  
  
  
  
