
                <div class="field">
                    <input type="text" name="username" placeholder="Username" required
                    [(ngModel)] = "login.username" >
                  </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required
                    [(ngModel)] = "login.password" >
                  </div>
                <div class="pass-link">
                <a href="#">Forgot password?</a></div>
                <div class="field btn">
                    <div class="btn-layer">
                </div>
                <input type="submit" value="Login" (click)="LoginUser()" >
                    </div>
                <div class="signup-link">
                Not a member? <a routerLink='/signup'>Signup now</a></div>      

  
  
  
  

